<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="favicon">
					<match url="^favicon\.ico$"/>
					<action type="Rewrite" url="img/LostTech.ico"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<location path="diskache.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://diskache.io/diskache.html" httpResponseStatus="Temporary"/>
		</system.webServer>
	</location>
	<location path="diskache-roadmap.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://diskache.io/diskache-roadmap.html" httpResponseStatus="Temporary"/>
		</system.webServer>
	</location>
	<location path="trim.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://diskache.io/trim.html" httpResponseStatus="Temporary"/>
		</system.webServer>
	</location>
	<location path="ioschedule.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://diskache.io/ioschedule.html" httpResponseStatus="Temporary"/>
		</system.webServer>
	</location>
	<location path="WhatsNew.html">
		<system.webServer>
			<httpRedirect enabled="true" destination="https://diskache.io/WhatsNew.html" httpResponseStatus="Temporary"/>
		</system.webServer>
	</location>
</configuration>
