<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
		</staticContent>
		<rewrite>
			<rules>
				<rule name="favicon">
					<match url="^favicon\.ico$"/>
					<action type="Rewrite" url="img/LostTech.ico"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
